
<h1>Create a new habit!</h1>
<div class="createForm">
<form action="/habit/create" method="POST">
<label>Habit title
<input type="text" name="title" placeholder="">
</label>
<br>
<label>Description of your habit
<input type="text" name="description" placeholder="" class="descriptionHabit">
</label>
{{!-- <br>
<label>Do you want your habit to be private?
<p>Yes<input type="checkbox" name="private" placeholder=""></p>
</label> --}}
<br>
<label>Do you want to add users to your habit?
<select id="mySelect" multiple>
   {{#each users}}
  <option value="{{this.username}}">{{this.username}}</option>
   {{/each}}
</select>
</label>
<br>
<button type="submit" class="createHabit">Create</button>
</form>
</div>