
<h1>Create a new habit!</h1>
<div class="createForm">
<form action="/habit/create" method="post">
<label>Habit title
<input type="text" name="title" placeholder="">
</label>
<p></p>
<label>Description of your habit
<input type="text" name="description" placeholder="">
</label>
<p></p>
<label>Do you want your habit to be private?
<p>Yes<input type="checkbox" name="private" placeholder=""></p>
</label>
<p></p>
<label>Do you want to add users to your habit?
<input type="search" name="addUsers" placeholder="Add users">
</label>
<p></p>
<button class="createHabit">Create</button>
</form>
</div>