
<h1>Create a new habit!</h1>
<div class="createForm">
<form action="/habit/create" method="post">
<div>
<label>Habit title</label>
<input type="text" name="title" placeholder="">
</div>
<div>
<label>Description of your habit</label>
<input type="text" name="description" placeholder="">
</div>
<div>
<label>Do you want your habit to be private?</label>
<p>Yes<input type="checkbox" name="private" placeholder=""></p>
</div>
<div>
<label>Do you want to add users to your habit?</label>
<input type="search" name="addUsers" placeholder="">
</div>
<button class="createHabit">Create</button>
</form>
</div>