
<h1>Create a new habit!</h1>
<section class="container">
<form action="/habit/create" method="POST">
<label><h3>Habit title</h3>
<input type="text" name="title" placeholder="">
</label>
<br>
<label><h3>Description of your habit</h3>
<input type="text" name="description" placeholder="" class="descriptionHabit">
</label>
<br>

<label class="selector"><h3>Do you want to add users to your habit?</h3>
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example" multiple>
   {{#each users}}
    <option id="option" class="option" value="{{this._id}}" selected>{{this.username}}</option>
   {{/each}}
  </select>
</label>
<label class="selected">Selected users
</label>
<br>
<button type="submit" class="createHabit">Create</button>
</form>
</section>