<h1 class="homeTitle">Unleash Your Full Potential!</h1>
<h2 class="homeDescription">Discover the power of Cheqq to prioritize what truly
  matters.<br />
  Let's embark on a journey of building the best version of
  <br />yourself through mastering your habits.</h2>
<a href="" class="getStarted">Get started</a>
<div class="elementor-shape elementor-shape-bottom" data-negative="false">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    <path
      class="elementor-shape-fill" stroke="white" fill="white"
          d= "M 421.9 6.5 c 22.6 -2.5 51.5 0.4 75.5 5.3 c 23.6 4.9 70.9 23.5 100.5 35.7 c 75.8 32.2 133.7 44.5 192.6 49.7 c 23.6 2.1 48.7 3.5 103.4 -2.5 c 54.7 -6 106.2 -25.6 106.2 -25.6 V 0 H 0 v 30.3 c 0 0 72 32.6 158.4 30.5 c 39.2 -0.7 92.8 -6.7 134 -22.4 c 21.2 -8.1 52.2 -18.2 79.7 -24.2 C 399.3 7.9 411.6 7.5 421.9 6.5 Z";
    >
    </path>
  </svg>
</div>
