<nav>
    <h3>LifeFlow</h3>
    <div>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Log in</a>
    </div>

</nav>
<h1 class="homeTitle">Embrace Golden Habits,<br> Unleash Your Full Potential!</h1>
<h2 class="homeDescription">Discover the power of LifeFlow to prioritize what truly matters. Let's embark on a journey of self-improvement,<br> building the best version of yourself through the art of mastering your habits.</h2>