{{!-- <div class="profile-top-section container-fluid"> --}}
    {{!-- <div class="col-sm-6 profileimg"> --}}
    <img src="images/default.png" class="img-thumbnail" alt="profile photo">
     <figcaption class="figure-caption">
        <a href="/profile/edit">Edit profile</a></figcaption>
        <a href="#">No Friends</a>
    </div>
    {{!-- replace image with {{profilephoto}}, once user model is updated --}}

    <h1>Welcome, {{username}}!</h1>
</div>
<section id="overview" class="container-fluid mt-5">
    <h2>Overview</h2>
    
</section>
<section id="habits" class="container-fluid mt-5">
    <h2>Habits</h2>
{{!-- for each item in the array habbits (from data), create a display of the habit name and the done button --}}

{{#each habits}}
<form action="/habits/{{_id}}" method="POST">
  <div class="mb-3">
   <h3>{{this.title}}</h3>
  </div>
  <button type="submit" class="btn btn-primary" onclick="style.display = 'none'">Done!</button>
</form>
{{/each}}
</section>

<section id="groups" class="container-fluid mt-5">
    <h2>Groups</h2>

</section>