<div class="profile">
    <div class="imgProfile">
    <img src="{{profilePic}}" class="img-thumbnail" alt="profile photo">
    </div>
    <div class="descProfile">
    <h1>{{username}}</h1>
    <section>
     <p>{{bio}}</p>
    </section>
    </div>
</div>
<section id="bio" class="container-fluid mt-5">
    {{bio}}
</section>

<section id="user-groups" class="container-fluid mt-5">
    <h2>Groups</h2>
</section>
