    {{!-- <div class="col-sm-6 profileimg"> --}}
    <img src="images/default.png" class="img-thumbnail" alt="profile photo">
     <figcaption class="figure-caption">
        <a href="#">No Friends</a>
    </div>
    {{!-- replace image with {{profilephoto}}, once user model is updated --}}

    <h1>{{username}}</h1>
</div>
<section id="bio" class="container-fluid mt-5">
    {{bio}}
</section>
{{!-- <section id="user-habits" class="container-fluid mt-5">
    <h2>Habits</h2>
{{#each habits}}
{{#if //habit public}}
  <div class="mb-3">
   <h3>{{this.title}}</h3>
  </div>
{{/if}}
{{/each}}
</section> --}}

<section id="user-groups" class="container-fluid mt-5">
    <h2>Groups</h2>

</section>