testttt


<form action="/testing" method="post">

<label for="checkHabit">Check today's completion of the habit</label>
<input type="checkbox" name="checkHabit" id="checkHabit">

<button type="submit">Submit!</button>
</form>