<h2>Forgot your password?</h2>
<div class="forgotPass">
<p>Submit your username and we will immediately send you an email with a link for resetting your password.</p> <p>(Please check your spam folder just in case!)</p>
<form action="/forgot-password" method="post">
<label for="username">Username: </label><input type="text" name="username" id="username">
<button class="forgotP" type="submit">Submit</button>
</form>
</div>

{{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}