<div id="form">
  <h2>Here you can reset your password:</h2>
  <form action="/{{userId}}/new-password" method="POST">

    <label> Password
      <input type="password" name="password" placeholder="Your password" value="{{password}}"/>
    </label>
<p></p>
    <label> Repeat Password
      <input type="password" name="passwordRepeat" placeholder="Repeat your password" value="{{passwordRepeat}}"/>
    </label>
<p></p>
   
    <button type="submit">Submit new password</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>