<div class="index">
<h1 class="homeTitle">Unleash Your Full Potential!</h1>
<h2 class="homeDescription">Discover the power of Cheqq to prioritize what truly
  matters.<br />
  Let's embark on a journey of building the best version of
  <br />yourself through mastering your habits.</h2>
</div>
