body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

h1.homeTitle{
  font-size: 56px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.homeDescription{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;

}

nav{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo a{
  text-decoration: none;
  font-size: 20px;
}

div.createHabit form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  text-align: left;
  margin-left: 150px;
}

input{
  padding: 10px 40px;
  text-align: start;
  margin: 5px;
  border-radius: 5px;
  border-style:groove;
  border-color: #00b7ff;

}

.createHabit{
  border-radius: 5px;
  border-style: groove;
  padding: 10px 20px;
  border-color: #00b7ff;
}

.descriptionHabit{
  padding: 0 100px 150px 100px;
}

.error {
  background-color: rgb(255, 139, 139);
}

img.img-thumbnail{
  width: 200px;

}

.profile-top-section {
  display: flex;
  flex-direction: row;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: black solid;
}

.fill-circle {
  background-color:black;
}

.btn-disabled {
  background-color: rgb(192, 255, 234);
}